* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100%;
  // for the footer
  position: relative;
  padding-bottom: 30vh;

  @media only screen and (min-width: 662px) {
    padding-bottom: 20vh;
  }
}

section {
  margin: 1rem;
}
