.page-navigation-links-container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .page-navigation-links-container {
    display: flex;
    justify-content: space-around;

    a {
      margin: 0 1rem;
      font-size: 1.2rem;
      transition: 0.3s all ease-in-out;
      text-decoration: none;
      position: relative;

      &::after {
        content: "";
        width: 0%;
        height: 3px;
        background-color: lightskyblue;
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: 0.3s all ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .page-navigation-links-container {
    a {
      font-size: 1.3rem;
      margin: 0 1.5rem;
    }
  }
}
