.bars-menu-open,
.bars-menu-close {
  display: flex;
  flex-direction: column;
  width: 2rem;
  cursor: pointer;
  transition: 0.5s;

  .bar {
    width: 2rem;
    height: 3px;
    background-color: white;
    margin: 0.1rem 0;
    border-radius: 5px;
    transition: 0.2s all ease-in-out;
  }
}

.bars-menu-close {
  :nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  :nth-child(2) {
    opacity: 0;
  }

  :nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
  }
}

.opened-bars-menu,
.closed-bars-menu {
  position: absolute;
  top: 1rem;
  z-index: 99;
}

.opened-bars-menu {
  left: 90vw;
}

.closed-bars-menu {
  left: -100vw;
}

@media only screen and (min-width: 768px) {
  .opened-bars-menu {
    left: 35vw;
  }

  .closed-bars-menu {
    left: -100vw;
  }
}
