$navbar-bg: #3d4552;

nav {
  width: 100%;
  background-color: $navbar-bg;
  padding: 0 1rem;
  box-shadow: 0 0 15px 5px gray;

  a {
    color: white;
    text-decoration: none;
  }
}

.navbar-first-row {
  padding-top: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media only screen and (min-width: 768px) {
  .navbar-first-row {
    grid-template-columns: 1fr 2fr 3fr;
  }
}
