.slider-card-container {
  box-shadow: 0px 3px 10px 2.5px lightgray;
  border: solid gray 1px;
  border-radius: 5px;
  height: 10rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      padding: 1rem;
    }
  }
}
