$navbar-bg: #3d4552;

.navbar-container {
  width: 100%;

  nav {
    background-color: $navbar-bg;
    padding: 0 1rem;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .page-navigation-ul {
    display: none;
    justify-content: space-around;
  }

  form {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;

    .search-box__search-icon {
      background-color: white;
      display: flex;
      align-items: center;
      height: 1.9rem;
      border-radius: 5px 0 0 5px;
      padding: 0 0.5rem;
    }

    .search-box__button,
    .search-box__input {
      height: 2rem;
    }

    .search-box__button {
      padding: 0 1rem;
      font-weight: bold;
      cursor: pointer;
    }

    .search-box__input {
      padding-left: 0.25rem;
      width: 100%;
    }
  }
}

.navbar-first-row {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .website-logo {
    color: white;
  }

  a {
    display: flex;
    align-items: center;
  }

  .user-icon,
  .shopping-cart-icon {
    font-size: 1.75rem;
  }

  .telephone-icon {
    margin-right: 0.5rem;
  }
}
